@charset "UTF-8";

/* --------------------------------------------------
	SiteName : 
	FileName : master.css
	Description : master style
	
	== TOC =========================================
	1 : header
	2 : main content
	3 : footer
	4 : common
	5 : print
	
-------------------------------------------------- */

html {
	/*background: #000*/
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	font-size: 10px;
	line-height: 22px;
	color: black;
	font-variant:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 990px;
	width: 100%;
}
.changeBD {

}
html,
body {
   height:100%;
}
#container {
  position: relative;
}

.header {
	position: fixed;
	top: 36px;
	left: 53px;
	width: 100%;
	z-index: 100;
}
.header h1 {
	width: 223px;
	height: 76px;
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.header h1 a {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: url('../img/graphics/txt-jetedge.svg') no-repeat right center;
	text-indent: -9999px;
	-webkit-background-size: 135px auto;
	-moz-background-size: 135px auto;
	-o-background-size: 135px auto;
	background-size: 135px auto;
}
.header h1 a:after {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: url('../img/graphics/logo.svg') no-repeat left center;
	content: "";
	-webkit-background-size: 80px auto;
	-moz-background-size: 80px auto;
	-o-background-size: 80px auto;
	background-size: 80px auto;
}
/* nav
-------------------------------------------------- */
.nav {
	margin: 15px 0 0 45px;
	float: left;
}
.nav ul li {
	float: left;
	margin-left: 5px;
}
.nav ul li a {
	color: #fff;
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	font-weight: 300;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.nav ul li a:hover, .nav ul li.active-nav a {
	color: white;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}
.nav ul ul {
	position: absolute;
	top: 75px;
	width: 200px;
	padding: 1.5em 0;
	overflow: inherit;
	z-index: 9999;
	background-color: white;
	border-radius: 7px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	display: none;
}
.nav ul ul:before {
	position: absolute;
	top: -10px;
	left: 30px;
	width: 20px;
	height: 20px;
	background: white;
	content: "";
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav ul ul:after {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	height: 25px;
	content: "";
}
.nav li li {
	position: relative;
	width: 200px;
	margin: 0 auto;
	display: block;
	text-align: left;
}
.nav li.active-nav ul li a {
	width: 140px;
	padding: 0.6em 30px;
	display: block;
	font-size: 1.6em;
	border-bottom: 1px solid #e4e4e4;
	color: black;
}
.nav li.active-nav li:last-child a {
	border: none;
	padding-bottom: 0px
}
.nav li.active-nav li a:hover {
	color: #ff0000
}

/* main-content
-------------------------------------------------- */
.sections {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	display: none;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.section-01 .bg {
	background: url('../img/graphics/1.jpg') no-repeat;
}
.section-02  .bg {
	background: url('../img/graphics/2.jpg') no-repeat;
}
.section-03  .bg {
	background: url('../img/graphics/3.jpg') no-repeat;
}
.section-04  .bg {
	background: url('../img/graphics/4.jpg') no-repeat;
}
.section-05  .bg {
	background: url('../img/graphics/5.jpg') no-repeat;
}

.sections .bg {
	position: absolute;
	top: -75px;
	right: 0;
	bottom: -75px;
	left: -100px;
	margin: 0;
	background-position: center top;
	background-repeat: no-repeat;
	opacity: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*-webkit-transition: all 2.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition: all 2.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition: all 2.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 2.8s cubic-bezier(0.075, 0.82, 0.165, 1);*/

	/*-webkit-transform: translateY(-75px);
	-moz-transform: translateY(-75px);
	-ms-transform: translateY(-75px);
	-o-transform: translateY(-75px);
	transform: translateY(-75px);*/

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

}

/* effect change to tab
-------------------------------------------------- */
/*fadeInUp*/
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-30px);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-30px);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}

.sections.fadeInUp .bg {
	-webkit-animation-name: fadeInUp;
	-webkit-animation-duration: 2s;
	-moz-animation-name: fadeInUp;
	-moz-animation-duration: 2s;
	-o-animation-name: fadeInUp;
	-o-animation-duration: 2s;
	animation-name: fadeInUp;
	animation-duration: 2s;
	opacity: 1
}
/*fadeInDown*/
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-30px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0px);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-30px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0px);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
.sections.fadeInDown .bg {
	-webkit-animation-name: fadeInDown;
	-webkit-animation-duration: 3s;
	-moz-animation-name: fadeInDown;
	-moz-animation-duration: 3s;
	-o-animation-name: fadeInDown;
	-o-animation-duration: 3s;
	animation-name: fadeInDown;
	animation-duration: 3s;
	opacity: 1
}

.sections.current-sec .bg {
	/*webkit-transform: translate3d(50px, 0, 0);
	-moz-transform: translate3d(50px, 0, 0);
	-ms-transform: translate3d(50px, 0, 0);
	-o-transform: translate3d(50px, 0, 0);
	transform: translate3d(50px, 0, 0);
	
	-webkit-transition: -webkit-transform 36s linear;
	-moz-transition: -moz-transform 36s linear;
	-o-transition: -o-transform 36s linear;
	transition: transform 36s linear;*/
	opacity: 1
}
.sections.section-05.current-sec .bg {
	webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1
}

/*
.sections .bg[data-transition="upIn"] {
	-webkit-transform: translateY(0) rotate(0); 
	-moz-transform: translateY(0) rotate(0); 
	-ms-transform: translateY(0) rotate(0); 
	-o-transform: translateY(0) rotate(0); 
	transform: translateY(0) rotate(0);
}
.sections .bg[data-transition="upOut"] {
	-webkit-transform: translateY(-75px) rotate(-1.5deg); 
	-moz-transform: translateY(-75px) rotate(-1.5deg); 
	-ms-transform: translateY(-75px) rotate(-1.5deg); 
	-o-transform: translateY(-75px) rotate(-1.5deg); 
	transform: translateY(-75px) rotate(-1.5deg);
}
.sections .bg[data-transition="downOut"] {
	-webkit-transform: translateY(75px) rotate(1.5deg); 
	-moz-transform: translateY(75px) rotate(1.5deg); 
	-ms-transform: translateY(75px) rotate(1.5deg); 
	-o-transform: translateY(75px) rotate(1.5deg); 
	transform: translateY(75px) rotate(1.5deg);
}*/
/**/
.outer-sec {
	position: relative;
	width: 700px;
	top: 27%;
	left: 18%;
	z-index: 1000
}
.outer-text {
  position: absolute;
  width: 700px;
  moz-transition: opacity 0.1s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  o-transition: opacity 0.1s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.1s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  webkit-transition: opacity 0.1s 0s;
  webkit-transition-delay: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 250;
}
.sections.current-sec .outer-text, 
.sections.current-sec .outer-text h1, 
.sections.current-sec .outer-text p, 
.sections.current-sec .outer-text hr
{
  animation: 0s ease-in 1;
  moz-animation: 0s ease-in 1;
  o-animation: 0s ease-in 1;
  webkit-animation: 0s ease-in 1;
}
.sections.current-sec .outer-text {
  moz-transition: opacity 0.4s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
  o-transition: opacity 0.4s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.4s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  webkit-transition: opacity 0.4s 0s;
  webkit-transition-delay: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sections .headline , .sections .inner {
  max-width: 700px;
}
.sections h1, .sections hr
{
  moz-transform: translate3d(-50px, -5px, 0) skewX(0deg);
  moz-transition: all 1.25s 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  ms-transform: translate3d(-50px, -5px, 0) skewX(0deg);
  o-transform: translate3d(-50px, -5px, 0) skewX(0deg);
  o-transition: all 1.25s 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(-50px, -5px, 0) skewX(0deg);
  transition: all 1.25s 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  webkit-transform: translate3d(-50px, -5px, 0) skewX(0deg);
  webkit-transition: all 1.25s 0.8s;
  webkit-transition-delay: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sections p {
  font-size: 2.3em;
  line-height: 1.8em;
  moz-transform: translate3d(-50px, 0, 0) skewX(0deg);
  moz-transition: all 1.25s 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  ms-transform: translate3d(-50px, 0, 0) skewX(0deg);
  o-transform: translate3d(-50px, 0, 0) skewX(0deg);
  o-transition: all 1.25s 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(-50px, 0, 0) skewX(0deg);
  transition: all 1.25s 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  webkit-transform: translate3d(-50px, 0, 0) skewX(0deg);
  webkit-transition: all 1.25s 1s;
  webkit-transition-delay: cubic-bezier(0.645, 0.045, 0.355, 1);
  font-weight: 300;
  width: 600px
}
.sections p:nth-of-type(1) {
  moz-transform: translate3d(-50px, -3px, 0);
  moz-transition: all 1.25s 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  ms-transform: translate3d(-50px, -3px, 0);
  o-transform: translate3d(-50px, -3px, 0);
  o-transition: all 1.25s 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(-50px, -3px, 0);
  transition: all 1.25s 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  webkit-transform: translate3d(-50px, -3px, 0);
  webkit-transition: all 1.25s 0.9s;
  webkit-transition-delay: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sections h1, .sections p, .sections hr {
  opacity: 0;
}
.sections.current-sec .outer-text h1, 
.sections.current-sec .outer-text p, 
.sections.current-sec .outer-text hr {
  moz-transform: translate3d(0, 0, 0) skewX(0deg);
  ms-transform: translate3d(0, 0, 0) skewX(0deg);
  opacity: 1;
  o-transform: translate3d(0, 0, 0) skewX(0deg);
  transform: translate3d(0, 0, 0) skewX(0deg);
  webkit-transform: translate3d(0, 0, 0) skewX(0deg);
}

.sections h1{
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  font-weight: normal;
  line-height: 0.95;
  text-transform: uppercase;
  font-weight: 300;
}
.sections h1 .alt{
  font-weight: 700;
}
.sections hr
{
  border: #bb0000 2px solid;
  display: block;
  margin: 3em 0;
  max-width: 80px;
  text-align: left;
}
.sections p .btn-white
{
	color: #000;
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	margin: 1em 0;
	padding: 2px 15px;
	text-align: center;
	text-decoration: none;
	transition-timing-function: ease;
	border: 2px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.sections .btn-white:hover {
	background: #000;
	color: #fff
}

.windowFl {
	background: url('../img/graphics/window.png') no-repeat right top fixed;
	background-size: 160px 100%;
	position: fixed; height: 100%; width: 160px; right: 0; top: 0; z-index: 11;
}
.wing {
	z-index: 15;
	position: fixed;
	bottom: -70px;
	right: 20%;
	width: 567px;
	height: 349px;
	background: url('../img/graphics/wing.png') no-repeat;
}
@media only screen and (max-width: 1270px) {
	.wing {
		display: none
	}
}
@media only screen and (max-width: 900px) {
	.windowFl {
		display: none;
	}
}
.section-04 *, .section-05 * {
	color: #fff
}
.section-04 p .btn-white, .section-05 p .btn-white {
	color: #fff;
	border: 2px solid #fff;	
}
.section-04 .btn-white:hover, .section-05 .btn-white:hover {
	background: #fff;
	color: #000
}
/* book-flight
-------------------------------------------------- */
.nav-right {
	position: fixed;
	top: 50%;
	right: 2.5%;
	height: 316px;
	width: 100px;
	margin-top: -316px;
	z-index: 200;
	display: block;
}
.nav-right .stops {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15px;
	-webkit-transition: -webkit-transform 2s cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: -moz-transform 2s cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: -o-transform 2s cubic-bezier(0.42, 0, 0.58, 1);
	transition: transform 2s cubic-bezier(0.42, 0, 0.58, 1);
}
.stop {
	position: absolute;
	left: -5px;
	right: -5px;
	height: 74px;
	cursor: pointer;
	z-index: 1;
	-webkit-transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-o-transition: opacity 1.5s;
	transition: opacity 1.5s;
}

.ticks {
	width: 5px;
	height: 55px;
	background-image: url('../img/graphics/elevation-tick.png');
	background-size: 5px 5px;
	background-repeat: repeat-y;
	margin: 19px auto 0;
	-webkit-transition: opacity 0.75s;
	-moz-transition: opacity 0.75s;
	-o-transition: opacity 0.75s;
	transition: opacity 0.75s;
}
.stop:after {
	content: ' ';
	position: absolute;
	left: 6px;
	top: 27px;
	width: 13px;
	height: 13px;
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
  	-moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: transparent;
	-webkit-transition: box-shadow 0.2s cubic-bezier(.61,.23,.81,.61), background-color 0.2s cubic-bezier(.61,.23,.81,.61);
	-moz-transition: box-shadow 0.2s cubic-bezier(.61,.23,.81,.61), background-color 0.2s cubic-bezier(.61,.23,.81,.61);
	-o-transition: box-shadow 0.2s cubic-bezier(.61,.23,.81,.61), background-color 0.2s cubic-bezier(.61,.23,.81,.61);
	transition: box-shadow 0.2s cubic-bezier(.61,.23,.81,.61), background-color 0.2s cubic-bezier(.61,.23,.81,.61);
}
.stop:hover:after {
	background: rgba(255, 255, 255, 0.2);
}
.removeTick .stop:after {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0);
}
.stop.stop-5 {
	top: -27px;
}
.stop.stop-4 {
	top: 47px;
}
.stop.stop-3 {
	top: 121px;
}
.stop.stop-2 {
	top: 195px;
}
.stop.stop-1 {
	top: 269px;
}

.altimeter {
	position: absolute;
	bottom: 0;
	width: auto;
	margin: 0;
	right: 36px;
	font-size: 1.4em;
	color: white;
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 700;
	-webkit-transition: color 0.8s cubic-bezier(0, 0, 0.58, 1);
	-moz-transition: color 0.8s cubic-bezier(0, 0, 0.58, 1);
	-o-transition: color 0.8s cubic-bezier(0, 0, 0.58, 1);
	transition: color 0.8s cubic-bezier(0, 0, 0.58, 1);
}
.altimeter:after {
	position: absolute;
	top: 3px;
	right: -42px;
	height: 15px;
	width: 26px;
	content: "";
	background-image: url('../img/graphics/elevation-plane.png');
	background-size: cover;
	background-repeat: none;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0, 0, 0.58, 1);
	-moz-transition: -moz-transform 0.8s cubic-bezier(0, 0, 0.58, 1);
	-o-transition: -o-transform 0.8s cubic-bezier(0, 0, 0.58, 1);
	transition: transform 0.8s cubic-bezier(0, 0, 0.58, 1);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}



/* own-arrow
-------------------------------------------------- */
.down-arrow {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 80px;
	height: 60px;
	margin-left: -40px;
	cursor: pointer;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: margin-left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.26667s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition: margin-left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.26667s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: margin-left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.26667s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: margin-left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.26667s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.down-arrow div {
	float: left;
	width: 30px;
	height: 60px;
	margin: 0 auto;
	background: url('../img/graphics/arrow.svg') no-repeat center center;
	webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.down-arrow .a {
	-webkit-animation: pulse 2s ease 0s infinite;
	-moz-animation: pulse 2s ease 0s infinite;
	-ms-animation: pulse 2s ease 0s infinite;
	-o-animation: pulse 2s ease 0s infinite;
	animation: pulse 2s ease 0s infinite;
}
.down-arrow .b {
	-webkit-animation: pulse 2s ease 1s infinite;
	-moz-animation: pulse 2s ease 1s infinite;
	-ms-animation: pulse 2s ease 1s infinite;
	-o-animation: pulse 2s ease 1s infinite;
	animation: pulse 2s ease 1s infinite;
}
@-webkit-keyframes pulse {	
	0%, 50%, 100% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.3;
	}
}

@-moz-keyframes pulse {	
	0%, 50%, 100% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.3;
	}
}

@-o-keyframes pulse {	
	0%, 50%, 100% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.3;
	}
}

@keyframes pulse {	
	0%, 50%, 100% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.3;
	}
}

/* book-flight
-------------------------------------------------- */
.book-flight {
	/*-webkit-overflow-scrolling: touch;
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);*/
	position: fixed;
	overflow: hidden;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1500;
}
.show-book {
	position: absolute;
	left: -1135px;
	top: 15%;
	z-index: 200;
}
.book-flight .btn-toggle {
	position: relative;
	font-weight: 700;
	font-size: 1.6em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.05em;
	z-index: 200;
	width: 40px;
	height: 490px;
	background-color: #bb0000;
	display: block;
	cursor: pointer;
	left: 0px;
	top: 15%;
}
.book-flight .btn-toggle span {
	position: absolute;
	bottom: 15%;
	width: 100%;
	height: 0;
	display: block;
}
.book-flight .btn-toggle span strong:after {
	content: "818-933-7400";
	margin-left: 1em;
	font-weight: 300;
}
.book-flight .btn-toggle:before {
	content: "";
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	height: 28px;
	background: url('../img/graphics/arrow.svg') no-repeat center center;
}
.change-bo {
	width: 100%;
}
.bg-dis {
	background-color: #000;
	opacity: 0.4;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 190
}
.change-bo .bg-dis {
	display: block;
}
.change-bo .btn-toggle:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.book-flight .btn-toggle strong {
	white-space: nowrap;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	 transform: rotate(270deg); 
	display: block;
}

