/*----------------------------------------------------------------------------------------------
SiteName : ja
FileName : main.css
Description : 


== TOC ======================================================
1 : import reset css + compass
2 : main sprite
3 : main css
....
------------------------------------------------------------------------------------------------ */

/* 1 : import reset css + compass
============================================================ */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

/* 2: main sprite
============================================================ */

@mixin resize-sprite($map, $sprite, $percent) {
  $spritePath:    sprite-path($map);
  $spriteWidth:   image-width($spritePath);
  $spriteHeight:  image-height($spritePath);
  $width: image-width(sprite-file($map, $sprite));
  $height: image-height(sprite-file($map, $sprite));
 
  @include background-size(ceil($spriteWidth * ($percent/100)) ceil($spriteHeight * ($percent/100)));
  width: ceil($width*($percent/100));
  height: ceil($height*($percent/100));
  background-position: 0 floor(nth(sprite-position($map, $sprite), 2)  * ($percent/100) );
}
 
@mixin resize-sprite-set($map, $percent, $only...) {
  $name: sprite_map_name($map);
 
  @each $sprite in sprite_names($map) {
    @if length($only) == 0 or index($only, $sprite) != false {
      .#{$name}-#{$sprite} {
        @include resize-sprite($map, $sprite, $percent);
      }
    }
  }
}
       
$news2x-spacing: 5px; 
$images-layout: smart;
@import "news2x/*.png";
@include all-news2x-sprites;
// resize height + width sprite
@include resize-sprite-set($news2x-sprites, 50); // 50% sized

/* 3: main css
============================================================ */

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
  color: #020202;
  background: url('../images/bg.gif');
  font-size: 13px;
}
.container {
  width: 320px;
  margin: 0 auto;
}

.header { margin-bottom: 13px; }
.header a {
  text-indent: -9999px;
  display: block;
  float: left;
  margin: 10px 0 0 15px;
}


/* 3.1: main-content
============================================================ */

.main-content { }
.main-about { }
.main-about h1 {
  text-indent: -9999px;
  margin-bottom: 6px;
}
.news2x-top2x { text-indent: -9999px; }

/* list-news
============================================================ */

.list-news {
  padding: 11px 15px 0;
  overflow: hidden;
}
.list-news ul { }
.list-news li {
  border-bottom: 1px solid #7b7b7b;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.list-news li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}
.list-news .title {
  margin-bottom: 11px;
  font-weight: bold;
}
.list-news .title span { display: inline-block; }
.list-news .title h2 {
  padding-top: 4px;
  font-size: 17px;
  font-weight: bold;
}
.list-news .title a {
  color: #000;
  text-decoration: none;
}
.list-news .title a:hover { text-decoration: underline; }
.list-news p { line-height: 1.4; }
.img-pro { margin:0 auto 10px; }


/* social-other
============================================================ */

.social-other {
  margin-top: 15px;
  overflow: hidden;
}
.social-other .icon-social { float: left; }
.share-social { float: left; }
.share-fb { margin:6px 17px 0 0; }
.share-tw { margin:5px 0 0; }
.news2x-detail2x {
  float: right;
  display: inline-block;
  text-indent: -9999px;
}
.next-prev {
  overflow: hidden;
  padding-bottom: 21px;
}
.next-prev a:first-child { float: left; }
.next-prev a:last-child { float: right; }


/* footer
============================================================ */

.footer {
  background-color: #222222;
  padding-bottom: 6px;
}
.footer li { overflow: hidden; }
.footer li a {
  height: 22px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #808080;
  padding-top: 12px;
}
/* .footer li a:hover {
  background-color: #fff;
  color: #222222;
} */
.news2x-text-hover2x-01 {
  text-indent: -9999px;
  display: inline-block;
}
.footer li .hover-text {
  height: 25px;
  padding-top: 9px;
  background-color: #fff;
}
.footer li .hover-text span {
  @extend .news2x-text2x-01;
}

/* social-fo
============================================================ */

.social-fo {
  border-top: 1px solid #808080;
  text-align: center;
  padding: 9px 0px;
}
.social-fo .icon-social { display: inline-block; }
.facebook-social {
  position: relative;
  width: 70px;
}
.facebook_like_hide_count{
    width: 200px;
    height: 20px;
    background: #222222;
    position: absolute;
    left: 70px;
    top: 0;
    overflow: hidden;
    z-index: 999
}
.twitter-social {
  margin-left: 15px;
  z-index: 1000;
  position: relative;
}
.line-socail {
  margin-left: 15px;
  z-index: 1000;
  position: relative;
}
.bottom-fo {
  color: #ccc;
  font-size: 10px;
  text-align: center;
}
.bottom-fo a {
  text-indent: -9999px;
  display: block;
  margin: 0 auto 9px;
}
