/*----------------------------------------------------------------------------------------------
SiteName : ABC (  http://abc.com )
FileName : main.css
Description :  abc ….


== TOC ======================================================
1 : import reset css + compass
2 : main sprite
3 : main css
....
------------------------------------------------------------------------------------------------ */
/* 1 : import reset css + compass
============================================================ */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 2: main sprite
============================================================ */
/* line 146, news2x/*.png */
.news2x-sprite, .news2x-bt-home2x, .news2x-detail2x, .news2x-header2x, .news2x-img2x-01, .news2x-img2x-02, .news2x-img2x-03, .news2x-logo-fo, .news2x-new2x, .news2x-next2x, .news2x-pic2x-02, .news2x-prev2x, .news2x-text-hover2x-01, .news2x-text2x-01, .footer li .hover-text span, .news2x-top2x {
  background: url('../images/news2x-s9fc015c6aa.png') no-repeat;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-bt-home2x {
  background-position: 0 -1032px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-detail2x {
  background-position: 0 -1247px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-header2x {
  background-position: 0 -758px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-img2x-01 {
  background-position: 0 0;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-img2x-02 {
  background-position: 0 -1433px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-img2x-03 {
  background-position: 0 -1174px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-logo-fo {
  background-position: 0 -926px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-new2x {
  background-position: 0 -1001px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-next2x {
  background-position: 0 -1373px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-pic2x-02 {
  background-position: 0 -864px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-prev2x {
  background-position: 0 -1313px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-text-hover2x-01 {
  background-position: 0 -1136px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-text2x-01, .footer li .hover-text span {
  background-position: 0 -1098px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.news2x-top2x {
  background-position: 0 -373px;
}

/* line 41, main.scss */
.news2x-bt-home2x {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 60px;
  height: 31px;
  background-position: 0 -516px;
}

/* line 41, main.scss */
.news2x-detail2x {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 99px;
  height: 31px;
  background-position: 0 -624px;
}

/* line 41, main.scss */
.news2x-header2x {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 320px;
  height: 51px;
  background-position: 0 -379px;
}

/* line 41, main.scss */
.news2x-img2x-01 {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 290px;
  height: 184px;
  background-position: 0 0;
}

/* line 41, main.scss */
.news2x-img2x-02 {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 320px;
  height: 34px;
  background-position: 0 -717px;
}

/* line 41, main.scss */
.news2x-img2x-03 {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 320px;
  height: 34px;
  background-position: 0 -587px;
}

/* line 41, main.scss */
.news2x-logo-fo {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 81px;
  height: 35px;
  background-position: 0 -463px;
}

/* line 41, main.scss */
.news2x-new2x {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 31px;
  height: 13px;
  background-position: 0 -501px;
}

/* line 41, main.scss */
.news2x-next2x {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 56px;
  height: 28px;
  background-position: 0 -687px;
}

/* line 41, main.scss */
.news2x-pic2x-02 {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 284px;
  height: 29px;
  background-position: 0 -432px;
}

/* line 41, main.scss */
.news2x-prev2x {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 56px;
  height: 28px;
  background-position: 0 -657px;
}

/* line 41, main.scss */
.news2x-text-hover2x-01 {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 144px;
  height: 17px;
  background-position: 0 -568px;
}

/* line 41, main.scss */
.news2x-text2x-01, .footer li .hover-text span {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 144px;
  height: 17px;
  background-position: 0 -549px;
}

/* line 41, main.scss */
.news2x-top2x {
  -webkit-background-size: 320px 751px;
  -moz-background-size: 320px 751px;
  -o-background-size: 320px 751px;
  background-size: 320px 751px;
  width: 320px;
  height: 190px;
  background-position: 0 -187px;
}

/* 3: main css
============================================================ */
/* line 58, main.scss */
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
  color: #020202;
  background: url("../images/bg.gif");
  font-size: 13px;
}

/* line 64, main.scss */
.container {
  width: 320px;
  margin: 0 auto;
}

/* line 69, main.scss */
.header {
  margin-bottom: 13px;
}

/* line 70, main.scss */
.header a {
  text-indent: -9999px;
  display: block;
  float: left;
  margin: 10px 0 0 15px;
}

/* 3.1: main-content
============================================================ */
/* line 83, main.scss */
.main-about h1 {
  text-indent: -9999px;
  margin-bottom: 6px;
}

/* line 87, main.scss */
.news2x-top2x {
  text-indent: -9999px;
}

/* list-news
============================================================ */
/* line 92, main.scss */
.list-news {
  padding: 11px 15px 0;
  overflow: hidden;
}

/* line 97, main.scss */
.list-news li {
  border-bottom: 1px solid #7b7b7b;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

/* line 102, main.scss */
.list-news li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

/* line 106, main.scss */
.list-news .title {
  margin-bottom: 11px;
  font-weight: bold;
}

/* line 110, main.scss */
.list-news .title span {
  display: inline-block;
}

/* line 111, main.scss */
.list-news .title h2 {
  padding-top: 4px;
  font-size: 17px;
  font-weight: bold;
}

/* line 116, main.scss */
.list-news .title a {
  color: #000;
  text-decoration: none;
}

/* line 120, main.scss */
.list-news .title a:hover {
  text-decoration: underline;
}

/* line 121, main.scss */
.list-news p {
  line-height: 1.4;
}

/* line 122, main.scss */
.img-pro {
  margin: 0 auto 10px;
}

/* social-other
============================================================ */
/* line 128, main.scss */
.social-other {
  margin-top: 15px;
  overflow: hidden;
}

/* line 132, main.scss */
.social-other .icon-social {
  float: left;
}

/* line 133, main.scss */
.share-social {
  float: left;
}

/* line 134, main.scss */
.share-fb {
  margin: 6px 17px 0 0;
}

/* line 135, main.scss */
.share-tw {
  margin: 5px 0 0;
}

/* line 136, main.scss */
.news2x-detail2x {
  float: right;
  display: inline-block;
  text-indent: -9999px;
}

/* line 141, main.scss */
.next-prev {
  overflow: hidden;
  padding-bottom: 21px;
}

/* line 145, main.scss */
.next-prev a:first-child {
  float: left;
}

/* line 146, main.scss */
.next-prev a:last-child {
  float: right;
}

/* footer
============================================================ */
/* line 152, main.scss */
.footer {
  background-color: #222222;
  padding-bottom: 6px;
}

/* line 156, main.scss */
.footer li {
  overflow: hidden;
}

/* line 157, main.scss */
.footer li a {
  height: 22px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #808080;
  padding-top: 12px;
}

/* .footer li a:hover {
  background-color: #fff;
  color: #222222;
} */
/* line 170, main.scss */
.news2x-text-hover2x-01 {
  text-indent: -9999px;
  display: inline-block;
}

/* line 174, main.scss */
.footer li .hover-text {
  height: 25px;
  padding-top: 9px;
  background-color: #fff;
}

/* social-fo
============================================================ */
/* line 186, main.scss */
.social-fo {
  border-top: 1px solid #808080;
  text-align: center;
  padding: 9px 0px;
}

/* line 191, main.scss */
.social-fo .icon-social {
  display: inline-block;
}

/* line 192, main.scss */
.facebook-social {
  position: relative;
  width: 70px;
}

/* line 196, main.scss */
.facebook_like_hide_count {
  width: 200px;
  height: 20px;
  background: #222222;
  position: absolute;
  left: 70px;
  top: 0;
  overflow: hidden;
  z-index: 999;
}

/* line 206, main.scss */
.twitter-social {
  margin-left: 15px;
  z-index: 1000;
  position: relative;
}

/* line 211, main.scss */
.line-socail {
  margin-left: 15px;
  z-index: 1000;
  position: relative;
}

/* line 216, main.scss */
.bottom-fo {
  color: #ccc;
  font-size: 10px;
  text-align: center;
}

/* line 221, main.scss */
.bottom-fo a {
  text-indent: -9999px;
  display: block;
  margin: 0 auto 9px;
}
