body {
	background: url('../images/graphics/bgContent.gif') repeat-y center top; 
	min-width:1000px; 
}
/*#container
----------------------------------------------------------------------------------------------*/
#container {
	margin:0 auto;
	position: relative;
}
#wrapper { 
	width:1000px; 
	overflow:hidden; 
	margin:0 auto; 
}
.show{
	display:none
}
/*#nav
-----------------------------------------------------------------*/
#nav{
	width:250px; 
	float:left; 
	text-align:center; 
}
#nav h1{ 
	margin:151px 0 59px
}
.navChange .list-nav{ 
	z-index: 9999; 
	position: fixed; 
	top: 60px
} 

.list-nav{
	width:250px;
}
.list-nav li{
	width:250px; 
	overflow:hidden;
}
.list-nav a{
	color:#2078b3; 
	display:block; 
	padding:5px 0 6px; 
	margin-bottom:5px;
}
.list-nav a:hover{
	background:#6289a3 url(../images/graphics/acMenu_15x27.gif) no-repeat right top; 
	color:#fff; 
}
.list-nav a.current{
	background:#6289a3 url(../images/graphics/acMenu_15x27.gif) no-repeat right top; 
	color:#fff; 
	text-decoration:none 
}

/*#conDes
-----------------------------------------------------------------*/
#conDes{
	width:750px; 
	float:right; 
	overflow:hidden
}
.banner{
	margin-bottom:50px;
}
#conDes .inner{
	width:700px; 
	margin-left:19px;
}
.sections { 
	margin-bottom:51px
}
.title{
	background:url(../images/icons/icon_12x14.gif) no-repeat 3px 0px; 
	border-bottom:1px solid #6289a3; 
	padding:0 0 8px 21px;
	margin-bottom:16px;
}
.EditorDes{
	padding-left:8px; 
	line-height:1.4; 
	color:#444; 
	font-size:14px;
}
.EditorDes a{
	color:#2078b3;
}
.EditorDes img{
	margin-right:14px
}
.map{
	background:url(../images/icons/icon_12x10.gif) no-repeat right top; 
	padding-right:17px
}
.addBox{
	height:200px; 
	background:#0F6; 
	border-bottom:1px solid #000
}

/*.pageTop{
	position:fixed;
	cursor:pointer;
	bottom:0px;
	height:72px; width:20px;
	background:url(../images/graphics/scrollTop.gif) no-repeat; 
	margin-left: 1000px;
	display: none;
}*/

/*pageTop
-----------------------------------------------------------------*/
.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
	}
.cf:before,.cf:after,.row:after,.row:before,.wrapInner:after{
	content:"\0020";
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
	}
.cf:after,.row:after,.wrapInner:after{
	clear:both
}
.cf,.row,.wrapInner{
	*zoom:1
}

.wrapInner
{
	margin-left: auto;
	margin-right: auto;
	width: 1040px;
}
.relative{position: relative;}
.pageTop{
  width: 100%;
  position: relative;
  z-index: 1;
  bottom:45px
}
.pageTop.sticky{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  
}
.sticky.wrapLink{
  position: fixed;
  bottom: 0;
  width: 100%;
  bottom: 0;
  left: 0;
}

.top_link{
	display:block;
	position:absolute;
	height:72px; width:20px;
	background:url(../images/graphics/scrollTop.gif) no-repeat;
	text-indent:-999em;
	bottom: 0px;
	right:0;	
  	z-index: 999;
}
.top_link.hidden{
  display: none;
}

/*.pageTopFinal{
	position:fixed;
	cursor:pointer;
	height:72px; width:20px;
	background:url(../images/graphics/scrollTop.gif) no-repeat; 
	margin-left: 1000px;
	bottom:0px;
	z-index:1000
}
.posChange{bottom:45px}
*/
/* #footer 
----------------------------------------------------------------------------------------------*/
#footer{background:url(../images/graphics/bgFo.jpg) repeat; text-align:center; padding-top:1px; font-size:11px; color:#fff; position:relative}
#footer .inner{border-top:1px solid #fff; padding:18px 0 15px; line-height:1.8}
#footer img{margin:15px 10px 10px;}
#footer p a{margin:0 6px;  color:#fff}

