/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
html {
	font:normal 12px Arial,Helvetica,sans-serif; color: #000; background:url(../images/graphics/bg.jpg) repeat
}

* /*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td*/ {
	margin: 0;
	padding: 0;
}

/*table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,/*strong,*/th,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

ol, ul { /* add more */
	list-style-type: none;
}

a, a:link, a:visited, a:hover, a:active { /* add more */
	text-decoration: underline;
	background-color:inherit;
	outline:none;
}
a:hover{text-decoration:none}


caption,th {
	/*text-align: left;*/
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input,textarea,select { 
	*font-size: 100%;
}

legend {
	color: #000;
}

del,ins {
	text-decoration: none;
}

/* easy clearing */
.clearfix:after{
	content:'[DO NOT LEAVE IT IS NOT REAL]'; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.clearfix{display:inline; position:relative;}
.clearfix{display:block;}
/* end easy clearing */